// Basic colors

$white: #fff;
$black: #000;


// Background colors

$bg-white: $white;
$bg-black: $black;

$bg-pale-blue: #d9edf7;
$bg-blue: #337ab7;
$bg-dark-blue: #286090;

$bg-pale-gray: #efefef;
$bg-gray: #e6e6e6;
$bg-md-gray: #666;
$bg-dark-gray: #333;

$bg-pale-green: #dff0d8;
$bg-green: #5cb85c;
$bg-dark-green: #449d44;

$bg-pale-red: #f2dede;
$bg-red: #d9534f;
$bg-dark-red: #c9302c;

$bg-pale-yellow: #fcf8e3;
$bg-yellow: #f0ad4e;
$bg-dark-yellow: #ec971f;


// Font/border colors

$clr-white: $white;
$clr-black: $black;

$clr-dark-gray: #333;
$clr-gray: #adadad;
$clr-pale-gray: #ccc;

$clr-dark-blue: #204d74;
$clr-light-blue: #2e6da4;

$clr-dark-green: #398439;
$clr-light-green: #4cae4c;

$clr-dark-red: #ac2925;
$clr-light-red: #d43f3a;

$clr-dark-yellow: #d58512;
$clr-light-yellow: #eea236;
